 <a routerLink="/../"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>

<section class="hero  is-fullheight">

	<div class="hero-body" style="filter:hue-rotate(90deg) invert();background-position: center; background-size: cover; background-image: url('http://beppujah.com/enrico2/assets/dd-book-0-4.jpg');">
	
		<div class="container has-text-centered columns is-gapless">
			<div class="column"><a routerLink="twod" class="button is-outlined is-large ">2D</a></div>
			<div class="column"><a routerLink="threed"  class="button is-outlined is-large ">3D</a></div>
		</div>
	</div>

</section>
