 <a routerLink="/../media/"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 <section class="hero  is-fullheight">
	<div class="hero-body " style="filter:hue-rotate(-90deg) invert();background-position: center; background-size: cover; background-image: url('http://beppujah.com/enrico2/assets/dd-book-0-4.jpg');">
	<div class="container has-text-centered columns is-gapless">
			<div class="column"><a routerLink="sculptures" class="button  is-large ">SCULPTURES</a></div>
			<div class="column"><a routerLink="installations"  class="button is-large ">INSTALLATIONS</a></div>
		</div>
	</div>

</section>