 <a routerLink="/../"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
	<div class="hero is-fullheight has-text-centered  is-gapless" style="filter:saturate(10) invert() grayscale(100%);background-position: center; background-size: cover; background-image: url('http://beppujah.com/enrico2/assets/dd-book-0-4.jpg');">

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	
	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>

	<div class="tile has-text-centered ">
 <div class="column"><a routerLink="den-dolderproj" class="button is-outlined is-large ">DEN DOLDER </a></div>
			<div class="column"><a routerLink="frido"      class="button is-outlined is-large ">FRIDO</a></div>
			
			</div>

	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	
	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	

</div>