 <a routerLink="/media/twod"  class="is-home logo white-text"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
	<div class="hero is-fullheight has-text-centered  is-gapless" style=" ;background-position: center; background-size: cover; background-image: url('http://beppujah.com/enrico2/assets/dd-book-0-4.jpg');">

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
 <div class="column"><a routerLink="/media/twod/video/dirtyprojection" class="button is-outlined is-large ">DIRTY PROJECTION</a></div>
			<div class="column"><a routerLink="/media/twod/video/encounter"      class="button is-outlined is-large ">ENCOUNTER</a></div>

						</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/video/firebubbles"      class="button is-outlined is-large ">FIRE BUBBLES</a></div>

			<div class="column"><a (click)="toggleModal3 = !toggleModal3;"      class="button is-outlined is-large is-danger fleur ">FLEUR</a></div>

			<div class="modal " [ngClass]="{'is-active': toggleModal3}">
  <div (click)="toggleModal3 = !toggleModal3; stopVideo($event)" class="modal-background"></div>
  <div class="modal-content">

      <video #videoFleur (click)="toggleVideo($event)"   width="100%" >
  <source src="http://enricogarzaro.com/video/fleur.mp4" type="video/mp4">
  
  Your browser does not support the video tag.

  </video>

  </div>
  <button (click)="toggleModal3 = !toggleModal3;" class="modal-close is-large "></button>
</div>
  

			<div class="column"><a routerLink="/media/twod/video/landscape" class="button is-outlined is-large ">LANDSCAPE</a></div>

			</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/video/mixed-references"      class="button is-outlined is-large ">MIXED REFERNCES</a></div>
			<div class="column"><a routerLink="/media/twod/video/shopping-mall"      class="button is-outlined is-large is-warning ">SHOPPING MALL</a></div>
			
</div>



	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
		</div>
	

</div>