 <a routerLink="/media/twod"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
	<div class="hero is-fullheight has-text-centered  is-gapless" style="filter:hue-rotate(180deg) invert()  ;background-position: center; background-size: cover; background-image: url('http://beppujah.com/enrico2/assets/dd-book-0-4.jpg');">

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
 <div class="column"><a routerLink="/media/twod/video/dirtyprojection" class="button is-outlined is-large ">DIRTY PROJECTION</a></div>
			<div class="column"><a routerLink="/media/twod/video/encounter"      class="button is-outlined is-large ">ENCOUNTER</a></div>

						</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/video/firebubbles"      class="button is-outlined is-large ">FIRE BUBBLES</a></div>

			<div class="column"><a routerLink="/media/twod/video/fleur"      class="button is-outlined is-large ">FLEUR</a></div>
  

			<div class="column"><a routerLink="/media/twod/video/landscape" class="button is-outlined is-large ">LANDSCAPE</a></div>

			</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/video/mixed-references"      class="button is-outlined is-large ">MIXED REFERNCES</a></div>
			<div class="column"><a routerLink="/media/twod/video/shopping-mall"      class="button is-outlined is-large ">SHOPPING MALL</a></div>
			
</div>



	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
		</div>
	

</div>