 <a routerLink="/projects"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
	<div class="has-text-centered  is-gapless" >

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile ">
  <div class="column is-12 ">
 <h1>This is a projects page</h1>
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
  <h5>this is a photo you can access also truught media/2d/photo/den-dolder</h5>
 <img src="/assets/dd-book-0-4.jpg">
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 <code>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
 consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
 cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
 proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</code>
  </div>
  
</div>
  

	

</div>