 <a routerLink="/../media/twod"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
<div style="width: 100vw;">
		<img width="100%" height="auto" src="http://enricogarzaro.com/img/booknew.jpg">
	</div>

<a class="linkBook duo "  style=" width: 26vw; height: 23vw; position: absolute; top:12vw; left: 15vw;" routerLink="/media/twod/books/duo" >
<span></span><div></div></a>


<a class="linkBook " title="Duo" style="width: 26vw; height: 23vw; position: absolute; top:44vw; left: 25.5vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook " title="Body Landscape" style="width: 37vw; height: 32vw; position: absolute; top:83vw; left: 5vw" routerLink="/media/twod/books/body-landscape"><span></span><div></div></a>

<a class="linkBook  " title="Skull" style="width: 37vw; height: 52vw; position: absolute; top:84vw; left: 52vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook  " title="Chiras" style="width: 36vw; height: 45vw; position: absolute; top:148vw; left: 55vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook  " title="Romero" style="width: 35vw; height: 47vw; position: absolute; top:162vw; left: 9vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook" title="Hijma" style="width: 36vw; height: 45vw; position: absolute; top:223vw; left: 5vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook" title="Anouk" style="width: 35vw; height: 45vw; position: absolute; top:233vw; left: 58.5vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook red transparent" title="Dogspotting" style="width: 35vw; height: 45vw; position: absolute; top:297vw; left: 2vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook red transparent" title="Emmer" style="width: 34vw; height: 47vw; position: absolute; top:306vw; left: 55vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>


<a class="linkBook red transparent" title="Photograms" style="width: 39vw; height: 36vw; position: absolute; top:378vw; left: 10vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook red transparent" title="Somehow pure Chance" style="width: 34vw; height: 50vw; position: absolute; top:366vw; left: 60vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook transparent red" title="Efde" style="width: 36vw; height: 32vw; position: absolute; top:430vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook transparent red" title="Aloha" style="width: 36vw; height: 32vw; position: absolute; top:400vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook transparent red" title="Cramer" style="width: 36vw; height: 32vw; position: absolute; top:8.3vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook transparent red" title="Zine.6" style="width: 36vw; height: 32vw; position: absolute; top:8.3vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook transparent red" title="Free Association" style="width: 36vw; height: 32vw; position: absolute; top:8.3vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook transparent red" title="Polar" style="width: 36vw; height: 32vw; position: absolute; top:8.3vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook transparent red" title="Healers" style="width: 36vw; height: 32vw; position: absolute; top:8.3vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook transparent red" title="Den Dolder" style="width: 36vw; height: 32vw; position: absolute; top:8.3vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>


	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
 <div class="column"><a routerLink="/media/twod/books/aloha" class="button is-outlined is-large ">ALOHA</a></div>
			<div class="column"><a routerLink="/media/twod/books/anouk"      class="button is-outlined is-large ">ANOUK</a></div>
			<div class="column"><a routerLink="/media/twod/books/body-landscape"      class="button is-outlined is-large ">BODY LANDSCAPE</a></div>
			<div class="column"><a routerLink="/media/twod/books/cramer"      class="button is-outlined is-large ">CRAMER</a></div>
  
</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/books/dogspotting" class="button is-outlined is-large ">DOGSPOTTING</a></div>
			<div class="column"><a routerLink="/media/twod/books/duo"      class="button is-outlined is-large ">DUO</a></div>
			<div class="column"><a routerLink="/media/twod/books/efde"      class="button is-outlined is-large ">EFDE</a></div>
			<div class="column"><a routerLink="/media/twod/books/emmer"      class="button is-outlined is-large ">EMMER</a></div>
</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/books/free-association"      class="button is-outlined is-large ">FREE ASSOCIATION</a></div>
			<div class="column"><a routerLink="/media/twod/books/healers"      class="button is-outlined is-large ">HEALERS</a></div>
		
			<div class="column"><a routerLink="/media/twod/books/hijma"      class="button is-outlined is-large ">HIJMA</a></div>
			<div class="column"><a routerLink="/media/twod/books/aloha"      class="button is-outlined is-large ">KIRAS</a></div>

</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/books/mapa"      class="button is-outlined is-large ">MAPA</a></div>
			<div class="column"><a routerLink="/media/twod/books/romero"      class="button is-outlined is-large ">ROMERO</a></div>
			<div class="column"><a routerLink="/media/twod/books/skull"      class="button is-outlined is-large ">SKULL</a></div>
			<div class="column"><a routerLink="/media/twod/books/somehow-purechance"      class="button is-outlined is-large ">SOMEHOW PURECHANCE</a></div>
</div>


	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
		</div>
	

</div>