 <a routerLink="/../media/twod"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
<div style="width: 100vw;">
		<img width="100%" height="auto" src="http://enricogarzaro.com/img/booknew.jpg">
	</div>

<a class="linkBook duo "  style=" width: 26vw; height: 23vw; position: absolute; top:12vw; left: 15vw;" routerLink="/media/twod/books/duo" >
<span></span><div></div></a>

<a class="linkBook  " title="Pentax" style="width: 37vw; height: 33vw; position: absolute; top:7vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>


<a class="linkBook " title="Duo" style="width: 26vw; height: 23vw; position: absolute; top:44vw; left: 25.5vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook " title="Body Landscape" style="width: 37vw; height: 32vw; position: absolute; top:83vw; left: 5vw" routerLink="/media/twod/books/body-landscape"><span></span><div></div></a>

<a class="linkBook  " title="Skull" style="width: 37vw; height: 52vw; position: absolute; top:84vw; left: 52vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook  " title="Chiras" style="width: 36vw; height: 45vw; position: absolute; top:148vw; left: 55vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook  " title="Romero" style="width: 35vw; height: 47vw; position: absolute; top:162vw; left: 9vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook" title="Hijma" style="width: 36vw; height: 45vw; position: absolute; top:223vw; left: 5vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook" title="Anouk" style="width: 35vw; height: 45vw; position: absolute; top:233vw; left: 58.5vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook " title="Dogspotting" style="width: 35vw; height: 45vw; position: absolute; top:297vw; left: 2vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook " title="Emmer" style="width: 34vw; height: 47vw; position: absolute; top:306vw; left: 55vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>


<a class="linkBook " title="Photograms" style="width: 39vw; height: 36vw; position: absolute; top:378vw; left: 10vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook " title="Somehow pure Chance" style="width: 34vw; height: 50vw; position: absolute; top:366vw; left: 60vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook " title="Efde" style="width: 36vw; height: 46vw; position: absolute; top:438.5vw; left: 59vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook " title="Aloha" style="width: 33vw; height: 48vw; position: absolute; top:445vw; left: 8vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>

<a class="linkBook " title="Cramer" style="width: 56vw; height: 55vw; position: absolute; top:505vw; left: 2vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook " title="Zine.6" style="width: 36vw; height: 34vw; position: absolute; top:530vw; left: 63vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook " title="Free Association" style="width: 72vw; height: 43vw; position: absolute; top:587vw; left: 11.5vw; transform: rotate(-20deg);" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook " title="Polar" style="width: 27vw; height: 37vw; position: absolute; top:658vw; left: 57vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook " title="Healers" style="width: 27vw; height: 37vw; position: absolute; top:672vw; left: 9vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>
<a class="linkBook " title="Den Dolder" style="width: 72vw; height: 100vw; position: absolute; top:718vw; left: 16vw" routerLink="/media/twod/books/duo"><span></span><div></div></a>


	
