 <a routerLink="/../media/twod"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
	<div class="hero is-fullheight has-text-centered  is-gapless" style="filter:hue-rotate(180deg) invert()  ;background-position: center; background-size: cover; background-image: url('http://beppujah.com/enrico2/assets/dd-book-0-4.jpg');">

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
 <div class="column"><a routerLink="/media/twod/photo/den-dolder-analog" class="button is-outlined is-large ">DEN DOLDER ANALOG</a></div>
			<div class="column"><a routerLink="/media/twod/photo/den-dolder-digital"      class="button is-outlined is-large ">DEN DOLDER DIGITAL</a></div>
			<div class="column"><a routerLink="/media/twod/photo/frido"      class="button is-outlined is-large ">FRIDO</a></div>
			</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/photo/old"      class="button is-outlined is-large ">OLD</a></div>
  

			<div class="column"><a routerLink="/media/twod/photo/photograms" class="button is-outlined is-large ">PHOTOGRAMS</a></div>

			</div>
<div class="tile">
			<div class="column"><a routerLink="/media/twod/photo/polar"      class="button is-outlined is-large ">POLAR</a></div>
			<div class="column"><a routerLink="/media/twod/photo/portraits"      class="button is-outlined is-large ">PORTRAITS</a></div>
			<div class="column"><a routerLink="/media/twod/photo/rietveld-hands"      class="button is-outlined is-large ">RIETVELD HANDS</a></div>
</div>



	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
		</div>
	

</div>