<div id="navigation"  class="navbarr">
  



      <div class="icone-container" id="iconeContainer">
        <a  class=" is-contacts icone contacts" ><span class="  glyphicon glyphicon-user" aria-hidden="false"></span></a>

        <a  routerLink="/projects"  class="is-projects icone projects" ><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span></a>

        <a  routerLink="/media"  class=" is-media icone" >
        <span  class="glyphicon glyphicon-stop" aria-hidden="true"></span>

        </a>
       
      </div>
</div>
<router-outlet></router-outlet>
