 <a routerLink="/../media/threed"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
	<div class="hero is-fullheight has-text-centered  is-gapless" style="filter: invert() hue-rotate(-180deg) invert() brightness(200%) ;background-position: center; background-size: cover; background-image: url('http://beppujah.com/enrico2/assets/dd-book-0-4.jpg');">

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
 <div class="column"><a routerLink="/media/threed/installations/den-dolder" class="button   is-large ">DEN DOLDER</a></div>
			<div class="column"><a routerLink="temporary"      class="button is-outlined is-large ">TEMPORARY</a></div>

						</div>




	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
		</div>
	

</div>