 <a routerLink="/media/threed"  class="is-home logo"><span class="glyphicon glyphicon-fast-backward" aria-hidden="false"></span></a>
 
	
	<div class="hero is-fullheight has-text-centered  is-gapless" style="filter: saturate(5) invert() saturate(9);background-position: center; background-size: cover; background-image: url('http://beppujah.com/enrico2/assets/dd-book-0-4.jpg');">

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
 <div class="column"><a routerLink="antiroutine" class="button   is-large ">ANTI ROUTINE</a></div>
			<div class="column"><a routerLink="handles"      class="button is-outlined is-large ">HANDLES</a></div>

			<div class="column"><a routerLink="machines"      class="button is-outlined is-large ">MACHINES</a></div>

						</div>




	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>

	<div class="tile">
  <div class="column is-12">
 
  </div>

</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
  
</div>
	<div class="tile">
  <div class="column is-12">
 
  </div>
		</div>
	

</div>